<div class="app-footer" style="background-color: #f8f9fa; margin-top: 200px;">
    <div class="container">
      <div class="row">
        <!-- Logo Column -->
        <div class="col-md-4 col-xs-12">
          <div class="app-logo" style="margin-bottom: 20px;">
            <a class="navbar-brand d-flex text-primary"  [routerLink]="['']">
                <img style="width: 70px;height: 70px;" src="../../../assets/img/main.jpg" alt="" srcset="">
                <div class="d-flex flex-column justify-content-center">
                    <p class="fs-2 mb-0">Recyclery</p> 
                    <p style="font-size:x-small;" class="mt-0">description</p>
                </div>
            </a>
          </div>
          <div>
            <h3>About Recyclery</h3>
            <p>Recyclery is an Egyptian start-up that works in the waste management field.</p>
            <p>Call us: 01125428292 - 01008366291</p>
            <p>E-mail: <a href="mailto:hello@bekia-egypt.com" target="_blank">kia-egypt.com</a></p>
            <div class="mobile-app" style="margin-top: 20px;">
              <a href="https://apps.apple.com/tt/app/bekia/id1533814858?ign-mpt=uo%3D2" class="app-link">
                <img src="https://www.bekia-egypt.com/images/ios-app.png" alt="Download Bekia app on iPhone" style="width: 100px; margin-right: 10px;">
              </a>
              <a href="https://play.google.com/store/apps/details?id=com.bekia_egypt.bekia" class="app-link">
                <img src="https://www.bekia-egypt.com/images/android-app.png" alt="Download Bekia app on Android" style="width: 100px;">
              </a>
            </div>
          </div>
        </div>
        <!-- Links Column -->
        <div class="col-md-2 col-sm-6 col-xs-12">
          <h3>Recyclery</h3>
          <ul class="list-unstyled">
            <li><a [routerLink]="['company-register']">Be Partner</a></li>
            <li><a href="/en/about-us">About us</a></li>
            <li><a href="/en/leaderboard">Leaderboard</a></li>
            <li><a href="/en/privacy-policy">Privacy Policy</a></li>
            <li><a href="https://www.facebook.com/groups/bekiaegypt" target="_blank">Join our green hub!</a></li>
          </ul>
        </div>
        <!-- Support Column -->
        <div class="col-md-2 col-sm-6 col-xs-12">
          <h3>Support and Help</h3>
          <ul class="list-unstyled">
            <li><a href="/en/contact-us#faq">FAQ</a></li>
            <li><a href="/en/contact-us#send-inquiry">Send Inquiry</a></li>
            <li><a href="/en/terms">Terms & Conditions</a></li>
            <li><a href="/en/contact-us">Contact us</a></li>
          </ul>
        </div>
        <!-- Social Media Column -->
        <div class="col-md-4 col-xs-12">
          <h3>Follow Recyclery on social media networks</h3>
          <ul class="list-unstyled social-list" style="display: flex; list-style: none; padding-left: 0;">
            <li style="margin-right: 10px;">
              <a href="https://facebook.com/bekiaegypt">
                <span class="icon icon-fb"></span>
              </a>
            </li>
            <li style="margin-right: 10px;">
              <a href="https://instagram.com/bekiaegypt">
                <span class="icon icon-insta"></span>
              </a>
            </li>
            <li style="margin-right: 10px;">
              <a href="https://twitter.com/BekiaEgypt">
                <span class="icon icon-twitter"></span>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/company/bekiaegypt">
                <span class="icon icon-linkedin"></span>
              </a>
            </li>
          </ul>
          <form class="subscribe-news-form" style="margin-top: 20px;">
            <div class="input-holder" style="display: flex;">
              <button type="button" class="btn btn-primary" style="margin-right: 10px;">Subscribe to Recyclery newsletter</button>
              <button type="button" class="btn btn-secondary">
                <span class="icon icon-arrow-right"></span>
              </button>
            </div>
          </form>
        </div>
      </div>
      <p class="text-center" style="margin-top: 20px;">
        All rights reserved for Recyclery.inc 2024.
      </p>
    </div>
  </div>
  
